.ant-input-affix-wrapper {
  background-color: transparent;
  color: #fff;
  padding: 1rem 1.5rem;
}

.ant-input-affix-wrapper.error {
  border: 1px solid #f00;
  color: red;
}

.ant-input-affix-wrapper.error > .ant-input {
  color: red;
}

.ant-input {
  background-color: transparent;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid $color-primary-dark;
  // font-size: 1.8rem;
}

.input-label {
  color: #fff;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-size: 1.8rem;
}
.input-label + .ant-input-affix-wrapper {
  margin-top: 1rem;
}

.error-message {
  color: red;
  font-size: 1.6rem;
}

.input-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
