.thumbnail {
  width: 100%;
  height: min-content;
  background-color: #fff;
  box-shadow: 0 0 2rem 0.5rem $color-gray-3;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 2rem 1rem $color-gray-2;
  }

  &__img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__content {
    color: $color-gray-3;
    padding: 1rem;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      line-height: 2.5rem;
      width: inherit;
    }

    &-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1;
      width: 70%;
      cursor: pointer;
    }

    &-count {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-active {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $color-green;
      margin-right: 0.5rem;
    }

    &-num {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-gray-3;
    }

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
        align-items: center;
      }
    }

    &-label {
      margin-right: 0.5rem;
      white-space: nowrap;
    }

    &-value {
      font-weight: 300;
      color: $color-gray-5;
    }

    &-icon {
      margin-left: 0.5rem;
      color: $color-gray-5;
      cursor: pointer;

      &:hover {
        color: $color-gray-3;
      }
    }
  }
}