.thumbnail {
  width: 100%;
  height: 320px;  
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0.1rem $color-gray-3;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.5s;


  &:hover {
    box-shadow: 0 0 0.2rem 0.15rem $color-gray-4;
  }

  .thunbnail__gradient {
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,0) 40%, rgb(27, 27, 27) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__content {
    color: $color-white;
    padding: 2rem;
    background: rgba(0,0,0,0.6);
    z-index: 9;
    height: 120px;
    width: 100%;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      line-height: 2.5rem;
      width: inherit;
    }

    &-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1;
      width: 70%;
      cursor: pointer;
    }

    &-count {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-active {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $color-green;
      margin-right: 0.5rem;
    }

    &-num {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-blur-white;
    }

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
        align-items: center;
      }
    }

    &-label {
      margin-right: 0.5rem;
      white-space: nowrap;
    }

    &-value {
      font-weight: 300;
      color: $color-blur-white;
    }

    &-icon {
      margin-left: 0.5rem;
      color: $color-blur-white;
      cursor: pointer;

      &:hover {
        color: $color-white;
      }
    }
  }
}