.sidebar-offices {
  padding: 2rem;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 7rem);
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: $font-title;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1.5rem;
  }

  &__group {
    flex: 0 0 49%;
    width: 100%;
  }

  &__group-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__header-title {
    font-size: $font-subtitle;
    font-weight: 600;
    color: $color-white;
  }

  &__header-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    font-size: $font-icon;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
  }
}
