.sidebar-noty {
  padding: 2rem;
  height: 100%;

  &__title {
    font-size: $font-title;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1.5rem;
  }
}

.noty-list {
  &__title {
    font-size: $font-subtitle;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__items {
    max-height: 30rem;
    overflow: auto;
  }
}

.noty-list-item {
  display: flex;
  padding: 2rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: $color-primary-dark;
  }

  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;
  }

  &__content {
    flex: 0 0 70%;
    height: 6rem;
    margin-left: 2rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: $font-text;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__status {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin-left: 2rem;
    border: none;
  }

  &__status.onl {
    background: $color-green;
  }

  &__status.off {
    background: $color-red;
  }

  &__last-message {
    display: flex;
    justify-content: space-between;
    font-size: $font-text-small;
    font-weight: 400;
    color: $color-gray;
  }
}

.noty-box {
  border: 1px solid $color-primary-dark;
  padding: 2rem;
  border-radius: 0.5rem;
  height: 45rem;

  &__title {
    font-size: $font-text;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 1.5rem;
  }

  &__items {
    max-height: 35rem;
    overflow: auto;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__icon-send {
    color: $color-primary-light;
    font-size: $font-icon;
    margin-left: 2rem;
    cursor: pointer;
  }
}

.noty-box.full-height {
  height: 75rem;

  .noty-box__items {
    max-height: 65rem;
    overflow: auto;
  }
}

.noty-box-item {
  display: flex;
  margin-bottom: 2rem;

  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;
    margin-right: 2rem;
  }

  &__message {
    background-color: $color-primary-dark;
    border-radius: 0.5rem;
    padding: 1rem;
    color: $color-gray-11;
    max-width: 20rem;
    font-size: $font-text-small;
  }
}

.noty-box-item.mine {
  flex-direction: row-reverse;

  .noty-box-item__avatar {
    margin-left: 2rem;
  }

  .noty-box-item__message {
    background-color: $color-primary-light;
    color: $color-white;
  }
}
