.office-detail {
  &__group-btn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__view {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $color-gray;
    cursor: pointer;

    @include flex-center;
  }

  &__edit-icon {
    font-size: $font-icon;
    color: $color-white;
  }
}
