.lobby {
    &__profile {
        padding: 1rem 3rem;
        height: 100%;
        width: max-content;
        background-color: $color-primary-dark;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        margin-top: 100px;
        border-radius: 15px;

        &-container {
            max-width: 840px;
            margin: 0 auto;
            padding: 24px 0;
        }

        
        &-title {
            font-size: $font-title;
            color: black;
            font-weight: 700;
            margin-bottom: 2rem;
            font-style: italic;
            display: block;
            text-align:center ;
            font-size: 3rem;
        }

        &-avatar {
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
            text-align: center;
            display: block;
            box-shadow: 1px 2px 5px black;
        }

        &-user {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            height: 100%;

            &-items {
                margin: 3rem 1rem;
            }

            // &-container {
            //     display: flex;
            //     flex-direction: column;
            //     height: 100%;
            //     justify-content: space-between;

            // }

            &-info {
                font-size: $font-text;
                color: $color-white;
            }

            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                justify-content: space-between;
                // border-bottom: 0.5px solid $color-gray-11;
                color: $color-blur-white;

                &-title {
                    flex: 0 0 30%;
                    font-weight: 700;
                    font-size: 2rem;
                }

                &-title::after {
                    content: ":";
                }

                &-content {
                    flex: 0 0 70%;
                    font-size: 2rem;
                    font-weight: 300;
                }
            }

            &-group-btn {
                padding: 0 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                column-gap: 20px;

                .btn {
                    flex-grow: 1;
                    width: 50%;
                    height: 5rem;
                    font-size: 2rem;
                    background-color: $color-primary;
                    &:hover {
                        background-color: $color-secondary-dark-1;
                    }
                }
            }
        }

    }
}