.chat-box {
  border-radius: 0.5rem;
  height: 85%;
  flex-grow: 1;

  &__list {
    height: 100%;
    overflow: auto;
  }

  &__items {
    max-height: 90%;
    overflow: auto;
  }

  &__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    background-color: $color-secondary-dark-1;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  &__icon-send {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  &__icon-emoji {
    color: #fff;
    font-size: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  &__emoji-table {
    position: absolute;
    bottom: 6rem;
    left: -1rem;
    width: 30rem;
    height: 20rem;
    background-color: $color-secondary-dark-1;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &__emoji-item {
    font-size: 2.5rem;
    cursor: pointer;
    display: inline-block;
  }
}

.chat-box-item {
  display: flex;
  margin-bottom: 2rem;

  &__mess {
    max-width: 20rem;
    word-break: break-all;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;
    margin-right: 1rem;
  }

  &__message {
    position: relative;
    background-color: $color-secondary;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #fff;
    max-width: 20rem;
    font-size: $font-text-small;
  }

  &__action {
    position: absolute;
    min-width: 12rem;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    z-index: 1000;

    &-item {
      padding: 0.5rem 1rem;
      display: grid;
      grid-template-columns: 2rem 1fr;
      place-items: baseline;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-secondary-light;
        color: #fff;
        border-radius: 0.5rem;
      }
    }
  }
}

.chat-box-item.mine {
  flex-direction: row-reverse;

  .chat-box-item__avatar {
    margin-left: 1rem;
  }

  .chat-box-item__message {
    background-color: $color-secondary-light;
    color: $color-white;
    max-width: 20rem;
  }
}
