

.error-message {
  color: $color-red;
  font-size: 1.4rem;
  height: 1.8rem;
  display: block;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
  color: white;
}

.input-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  .input-label {
    color: $color-white;
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  .ant-input-prefix {
    font-size: 2.2rem;
    margin-right: 10px;
  }

  .ant-input-affix-wrapper {
    background-color: transparent;
    color: $color-white;
    padding: 0 2.0rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .ant-input-affix-wrapper.error {
    border: 1px solid $color-red;
    color: $color-red;
  }
  
  .ant-input {
    color: $color-white;
    border-radius: 0.5rem;
    border: none;
  }

  .ant-input-lg {
    font-size: 2rem;
  }
  
  .input-label + .ant-input-affix-wrapper {
    margin-top: 0.8rem;
  }  
}
