.lobby {
  background-color: $color-secondary-dark-1;

  &__main {
    margin-top: 2rem;
    padding: 1rem 6rem;
  }

  &__office-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    gap: 2rem;
  }
}
