.lobby {
  background-color: $color-secondary-dark-1;
  height: 100vh;

  &__main {
    margin-top: 2rem;
    padding: 1rem;
    height: 80%;
  }

  &__office-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(20rem, 1fr));
    gap: 2rem;
    max-height: 100%;
    overflow: auto;
  }
}
