.lobby {
  padding-top: 70px;

  &__main {
    padding: 1rem 6rem;
  }

  &__office-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    gap: 2rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, minmax(20rem, 1fr));
    }
  }

  .lobby__button, .lobby__sync {
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(0,0,0,0.6);
      cursor: pointer;
    }
  }

  .lobby__sync svg {
    animation: rotating 1s 0s infinite;
  }
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.create-office-form {
  &__title {
    font-size: $font-title;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $color-primary-dark;
  }

  &__input-block {
    margin-bottom: 2rem;
  }

  &__group-btn {
    width: 50%;
    margin-left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.join-office-form {
  &__title {
    font-size: $font-title;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $color-primary-dark;
  }

  &__input-block {
    margin-bottom: 2rem;
  }

  &__group-btn {
    width: 50%;
    margin-left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.popup__header-white {
  padding-left: 18px;
  padding-right: 18px;
}