.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: $font-text;
  border-radius: 0.5rem;
  cursor: pointer;

  &--primary {
    background-color: $color-primary-light;
    color: $color-white;
    outline: none;
    border: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--outlined {
    background-color: transparent;
    color: $color-white;
    outline: none;
    border: 1px solid $color-primary-light;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--menu-custom {
    border-radius: 1rem;
    color: $color-pure-black;
    border: 2px solid $color-primary-light;
    &:hover {
      background-color: $color-primary-light;
      color: $color-gray-10;
    }
  }

  &--character {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-bottom: 1rem;
    width: 25rem;
    overflow: hidden;
  }
}
