//COLORS
$color-primary: #52006a;
$color-primary-light: #a239ea;
$color-primary-dark: #301b3f;

$color-white: #fff;

$color-pure-black: #000;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-gray-light-1: #eee;
$color-gray-medium: #ddd;
$color-gray-dark: #333;

$color-yellow-dark: #ffb740;

$color-green-dark: #50cb93;
