//COLORS
$color-primary: #202064;
$color-primary-light: #5470d3;
$color-primary-dark: #1a1a40;

$color-white: #fff;

$color-pure-black: #000;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-gray-light-1: #eee;
$color-gray-medium: #ddd;
$color-gray-dark: #333;
