//COLORS
$color-primary: #202064;
$color-primary-light: #5470d3;
$color-primary-dark: #1a1a40;

$color-white: #fff;

$color-pure-black: #000;

$color-blue: #5470d3;

$color-green: #6bcb77;

$color-red: #e83a14;

$color-gray-8: #888;
$color-gray-9: #999;
$color-gray-10: #aaa;
$color-gray-11: #bbb;
$color-gray-12: #ccc;
$color-gray-13: #ddd;
$color-gray-14: #eee;
$color-gray: #777;
$color-gray-6: #666;
$color-gray-5: #555;
$color-gray-4: #444;
$color-gray-3: #333;
$color-gray-2: #222;
$color-gray-1: #111;

// FONTS
$font-title: 3.5rem;
$font-subtitle: 2.5rem;
$font-icon: 2.5rem;
$font-text: 2rem;
$font-text-small: 1.5rem;
