
  .edit-item{
    background-color: #EBE645;
    margin-left: 1em;
    margin-right: 1em;
    border:#EBE645 solid 1px;
    border-radius: 1em;
  }

  .btn-next-group {
    position: absolute;
    left: 38em;
    width: 100%;
    bottom: 79px;
  }
  .btn-prev-group {
    position: absolute;
    left: 10em;
    width: 100%;
  }

  .custom-button-group{
    position: absolute;
    left: 0px;
    bottom: 35px;
  }
  
  