.hUfhvZ {
  margin-top: 1 rem !important;
  width: 480px;
}
.bFGSZQ {
  flex-direction: row !important;
}

.ilRLoy {
  padding-left: 1rem !important;
}

.flsAQ {
  background: #dbe4ff;
  text-align: center;
  font-size: 2rem;
  line-height: 150px !important;
  height: 163px !important;
  border-radius: 10px;
}