.edit-item {
  margin-left: 1em;
  margin-right: 1em;
  border: #010101 solid 1px;
  /* border-radius: 1em; */
}

.btn-next-group {
  position: absolute;
  left: 38em;
  width: 100%;
  bottom: 79px;
}
.btn-prev-group {
  position: absolute;
  left: 10em;
  width: 100%;
}

.custom-button-group {
  position: absolute;
  left: 0px;
  bottom: 35px;
}

.react-multi-carousel-list {
  display: flex;
  justify-content: center;
}

.sub-bottom-menu {
  width: 38em;
  margin: 0 auto;
}
