
  .edit-item{
    background-color: #EBE645;
    margin-left: 1em;
    margin-right: 1em;
    border:#EBE645 solid 1px;
    /* border-radius: 1em; */
  }

  .btn-next-group {
    position: absolute;
    left: 38em;
    width: 100%;
    bottom: 79px;
  }
  .btn-prev-group {
    position: absolute;
    left: 10em;
    width: 100%;
  }

  .custom-button-group{
    position: absolute;
    left: 0px;
    bottom: 35px;
  }
  
  .react-multi-carousel-list{
    display: flex;
    justify-content:space-around;
  }
  
  .sub-bottom-menu{
    width: 38em;
    margin: 0 auto;
  }
  
  
  @media only screen and (max-width: 992px) {
    .sub-bottom-menu{
      width: 21em;
    }
  }
  
  
  @media only screen and (max-width: 576px) {
    .sub-bottom-menu{
      width: 7em;
    }
    
  }
 
  


