.create-office-form {
  &__title {
    font-size: $font-title;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $color-primary-dark;
  }

  &__input-block {
    margin-bottom: 2rem;
  }

  &__group-btn {
    width: 50%;
    margin-left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
