.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #141e61;
  padding: 0 6rem;
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  left: 0;

  &__brand {
    display: flex;
    align-items: flex-end;
    & h1 {
      font-size: 20px;
      margin-left: -15px;
      color: white;
    }
  }

  &__logo_img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__right-content {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 2rem;
  }
}

