.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: $color-primary-dark;
  padding: 0 6rem;
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  left: 0;

  &__brand {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    & h1 {
      font-size: 20px;
      margin-left: -15px;
      color: white;
    }
  }

  &__search {
    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
      left: -1px;
      padding: 0;
      border-radius: 50%;
      border:none ;
  }
    .ant-input, .ant-input-search {
      border: 1px solid $color-white;
      border-radius: 2rem;
      color: $color-white;

      &:focus, :hover{
        border: none;
        color: $color-white;
        box-shadow: none;
      }
    }

    .ant-input{
      border: none;
    }


    .ant-input-group-addon {
      .ant-input-search-button {
        background-color: #141e61;
        border: none;
        border-radius: 50% !important;
        .anticon-search{
          color: $color-white;
        }
      }
    }
  }

  &__logo_img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__right-content {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 2rem;
  }
}

