.office-message {
    position: fixed;
    top: 10px;
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    font-weight: bold;
}

.gamestart-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    height: 200px;
    background-color: #132e48d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    & p {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    &__countdown {
        font-size: 32px;
    }
}

.gamestart-btn {
    position: fixed;
    bottom: 7rem;
    right: 1px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0C1827;
    background-color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 2rem;

    &:hover {
      background-color: #326caa;
      color: #fff;
    }
}