.new-btn {
  width: max-content;
  height: 100%;
  padding: 0.2rem 1rem;
  font-size: 1.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;

  &__content {
    margin-left: 0.5rem;
  }

  &--primary {
    background-color: $color-secondary-light;
    color: $color-white;
    outline: none;
    border: none;
    transition: all 0.3s ease;

    &:focus {
      background-color: $color-secondary;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
    outline: none;
    border: none;
    transition: all 0.3s ease;

    &:focus {
      background-color: $color-secondary-dark;
    }
  }

  &--outlined {
    background-color: transparent;
    outline: none;
    border: 1px solid #cecece;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }
}
