.video-button-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:11111;
}

.video-button {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.video-button.active::before {
  content: "";
  width: 4px;
  position: absolute;
  background-color: white;
  height: 30px;
  transform: rotate(40deg);
  border: 1px solid #0C1827;
}

.video-button.active {
  background-color: transparent;
}

.video-button.active svg {
  color: white;
}