.calling-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    z-index: 1;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
}

.video-container {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);

    & video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scaleX(-1);
    }
}