.video-button-container {
  position: fixed;
  bottom: 70px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:11111;
}

.video-button {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
}

.video-button.active {
  background-color: #1B1B43;
}

.video-button.active svg {
  color: white;
}