.sidebar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 6rem;
  height: 100vh;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;

  &__logo {
    width: 4rem;
    height: 4rem;
    background-color: $color-white;
    border-radius: 50%;
    @include flex-center;

    font-weight: 700;
    font-size: $font-icon;
  }

  &__menu {
    width: 100%;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
  }

  &__item {
    width: min-content;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-blue;
    }
  }

  &__item.active {
    background-color: $color-blue;
  }

  &__item:hover > &__icon {
    color: $color-white;
  }

  &__item.active > &__icon {
    color: $color-white;
  }

  &__icon {
    font-size: $font-icon;
    color: $color-gray-6;
  }

  &__bar-line {
    width: 70%;
    height: 1px;
    background-color: $color-gray;
  }

  &__user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
